.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    background: rgb(17, 56, 91);
    transition: background 0.3s ease-in-out, padding 0.3s ease;
    padding: 20px 0; 
    border-bottom: none;
}

.navbar.scrolled {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    background: rgba(17, 56, 91, 0.712);
    backdrop-filter: blur(5px);
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.logo-btn:hover{
    transform: scale(1.05);
}


.logo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.brand-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.brand-text h1{
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

.brand-text span{
    font-size: 0.7rem;
    color: aliceblue;
    letter-spacing: 2px;
}

.nav-links{
    display: flex;
    font-weight: bold;
    gap: 20px;
    margin-right: 100px;
    cursor: pointer;

}

.nav-links a{
    color: rgb(252, 254, 255);
    text-decoration: none;
    transition: color 0.3s ease-in;
}

.nav-links a:hover{
    color: rgb(200, 200, 200);
    transform: scale(1.05);
}

.nav-icons{
    display: flex;
    gap: 20px;
}

.nav-icons button{
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.nav-icons button:hover{
  color:  rgb(200, 200, 200);
  transform: scale(1.05);
}


/*for the responsiveness*/

.mobile-menu-icon{
    display: none;
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

@media screen and (max-width: 768px){
    .brand-text h1{
        font-size: 1.2rem;
    }

    .brand-text span{
        font-size: 0.7rem;
        letter-spacing: 1px;
    }

    .nav-icons{
        gap: 10px;
    }

    .mobile-menu-icon{
        display: block;
        margin-left: 10px;
    }

    .nav-links{
        display: none;
    }
    
    .nav-links-mobile{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(17, 56, 91);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 30px;
        transition: all 0.3s ease-in-out;
        z-index: 10;
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }

    .nav-links-mobile a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        
    }
    .nav-links-mobile a:hover {
        transform: scale(1.05);
    }
}